<div class="container">
    <div class="row">
        <div class="col-md-10">
            <app-current-role></app-current-role>
        </div>
        <div class="col-md-2">
            <app-compare-roles></app-compare-roles>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <app-description></app-description>
        </div>
        <div class="col-md-4">
            <app-key-details></app-key-details>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-timeline></app-timeline>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-responsibility></app-responsibility>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-training></app-training>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-related-roles></app-related-roles>
        </div>
    </div>

</div>