#familydropdown{
    background-color: #F79F79;
    border-color: #F79F79;
}
#capabilitydropdown{
    background-color: #87B6A7;
    border-color: #87B6A7;
}
#banddropdown{
    background-color: rgb(210, 149, 238);
    border-color: rgb(210, 149, 238);
}
.dropdownContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdownContainer > *:not(:last-child) {
    margin-right: 2rem;
}

.expand {
    flex-grow: 1;
}

#search{
    width: 300px;
}
