<h1>Roles</h1>

<div class="dropdownContainer">
  <span>Filter by:</span>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="familydropdown" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Family
    </button>
    <div class="dropdown-menu" aria-labelledby="familydropdown">
      <a class="dropdown-item" href="#!">Technical</a>
      <a class="dropdown-item" href="#!">Sales and Marketing</a>
    </div>
  </div>


  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="capabilitydropdown" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Capability
    </button>
    <div class="dropdown-menu" aria-labelledby="capabilitydropdown">
      <a class="dropdown-item" href="#!">Software Engineering</a>
      <a class="dropdown-item" href="#!">Data Analyst</a>
    </div>
  </div>


  <div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="banddropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Band
      </button>
      <div class="dropdown-menu" aria-labelledby="banddropdown">
        <a class="dropdown-item" href="#!">Executive</a>
        <a class="dropdown-item" href="#!">Senior</a>
      </div>
    </div>
  </div>

  <span class="expand"></span>

  <div id="search">
    <app-search-bar></app-search-bar>
  </div>
</div>