<div class="container" [hidden]="submitted">
        <h1>Add Role Form</h1>
        {{diagnostic}}
        <form (ngSubmit)="onSubmit()" #addRoleForm="ngForm">
                <div class="form-group">
                        <label for="roleName">Role name</label>
                        <input type="text" class="form-control" id="roleName" required 
                        [(ngModel)]="model.roleName" name="roleName" #name="ngModel" #spy>
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Role name is required</div>
                </div>
                

                <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" placeholder="Description" required
                        [(ngModel)]="model.roleDescription" name="roleDescription">
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Description is required</div>
                </div>

                <div class="form-group">
                        <label for="responsibilities">Responsibilities</label>
                        <input type="text" class="form-control" id="responsibilities" placeholder="Responsibilities" required
                        [(ngModel)]="model.responsibilities" name="responsibilities">
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Responsibilities are required</div>
                </div>

                <div class="form-group">
                        <label for="capabilities">Capabilities</label>
                        <select class="form-control" id="capabilities" required [(ngModel)]="model.capabilityName" name="capabilityName">
                                <option *ngFor="let cap of capabilities" [value]="cap">{{cap}}</option>
                        </select>
                </div>

                <div class="form-group">
                        <label for="band">Band</label>
                        <select class="form-control" id="band" required [(ngModel)]="model.bandName" name="bandName">
                                <option *ngFor="let bnd of band" [value]="bnd">{{bnd}}</option>
                        </select>
                </div>

                <div class="form-group">
                        <label for="training">Training</label>
                        <select class="form-control" id="training" required [(ngModel)]="model.training" name="training">
                                <option *ngFor="let trn of training" [value]="trn">{{trn}}</option>
                        </select>
                </div>

                <button type="submit" class="btn btn-default" (click)="submitRole(); addRoleForm.reset();" [disabled]="!addRoleForm.form.valid">Submit</button>
        </form>
</div>

<div [hidden]="!submitted">
        <h1>You have added a new role!</h1>
        <h2>TODO: ADD DETAILS OR SOMETHING</h2>
</div>