<div class="container" *ngIf="data.band">
  <div class="title">
    <h1>{{data.band.name}}</h1>
  </div>
  <div class="competencies">
    <h2 class="details_title">Competencies</h2>
    <h4 *ngIf="data.band.commercial"> Commercial Awareness</h4>
    <ul *ngFor="let commercial of data.split(data.band.commercial, '.')">
      <li *ngIf="commercial != '' "> {{commercial}} </li>
    </ul>
    <br>
    <h4 *ngIf="data.band.communication"> Communicating & Teamwork</h4>
    <ul *ngFor="let communication of data.split(data.band.communication, '.')">
      <li *ngIf="communication != '' "> {{communication}} </li>
    </ul>
    <br>
    <h4 *ngIf="data.band.innovation"> Innovation and Continuous Improvement </h4>
    <ul *ngFor="let innovation of data.split(data.band.innovation, '.')">
      <li *ngIf="innovation != '' "> {{innovation}} </li>
    </ul>
    <br>
    <h4 *ngIf="data.band.customerFocus"> Customer Focus </h4>
    <ul *ngFor="let customerFocus of data.split(data.band.customerFocus, '.')">
      <li *ngIf="customerFocus != '' "> {{customerFocus}} </li>
    </ul>
    <br>
    <h4 *ngIf="data.band.development"> Developing Yourself and Others </h4>
    <ul *ngFor="let development of data.split(data.band.development, '.')">
      <li *ngIf="development != '' "> {{development}} </li>
    </ul>
    <br>
    <h4 *ngIf="data.band.planning"> Planning and Organising </h4>
    <ul *ngFor="let planning of data.split(data.band.planning, '.')">
      <li *ngIf="planning != '' "> {{planning}} </li>
    </ul>
    <br>
    <h4 *ngIf="data.band.knowledge"> Job Specific Knowledge </h4>
    <ul *ngFor="let knowledge of data.split(data.band.knowledge, '.')">
      <li *ngIf="knowledge != '' "> {{knowledge}} </li>
    </ul>
    <br>
  </div>
  <div class="responsibilities">
    <h2 class="details_title">Responsibilities</h2>
    <ul *ngFor="let responsibility of data.split(data.band.responsibilities, '.')">
      <li *ngIf="responsibility != '' "> {{responsibility}} </li>
    </ul>
  </div>
  <br>
  <div class="training">
    <h2 class="details_title">Training</h2>
    <ul *ngFor="let training of data.split(data.band.trainingDescription, ',');">
      <li *ngIf="training != '' "> {{training}} </li>
    </ul>
  </div>
</div>



