/* You can add global styles to this file, and also import other style files */
.family {
    background-color: #F79F79;
}

.capability {
    color: #87B6A7;
}

.band {
    color: rgb(210, 149, 238);
}

/* Top margins */
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top30 { margin-top:30px; }

@media (min-width: 1200px)
{
    .container {
        max-width: 1300px;
    }
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid black;
    box-shadow: 0 0 0 1px black;
}

.active-cyan-3 input[type=text] {
    border: 1px solid black;
    box-shadow: 0 0 0 1px black;
}
