<div class="swiper-container"> 
    <div class="swiper-wrapper timeline">
        <div *ngFor="let item of data.timelineRole; let i = index" class="swiper-slide">
                <div class="timestamp inline-block">
                    <span class="date">
                        {{item.bandName}}
                    </span>
                </div>
            <div [ngClass]="{'larger-width': item.roleName.length > 17, 'increase-first-child-with': i == 0, 'currentRule': isRoleLessThanCurrentRole(item.bandRank)}" class="status" >
                <span >{{item.roleName}}</span>
 
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>

 
 <!-- isRoleLessThanCurrentRole(item.bandName) -->