<div class="container">
    <h1>Roles</h1>
    <div class="dropdownContainer">
        <span>Filter by:</span>

        <select id="family-drp" [(ngModel)]="selectedFamily" (change)="onFamilyChange()">
            <option value="" disabled selected hidden>Family</option>
            <option value="">All Families</option>
            <option *ngFor=" let fam of families" value={{fam.jobFamilyID}}>{{fam.jobFamilyName}}</option>
        </select>

        <select id="cap-drp" [(ngModel)]="selectedCapability">
            <option value="" disabled selected hidden>Capability</option>
            <option value="">All Capabilities</option>
            <option *ngFor=" let cap of capabilities | capabilityFilter:selectedFamily" value={{cap.capabilityID}}>
                {{ cap.capabilityName}}
            </option>
        </select>

        <select id="band-drp" [(ngModel)]="selectedBand">
            <option value="" disabled selected hidden>Band</option>
            <option value="">All Bands</option>
            <option *ngFor=" let band of bands" value={{band.bandName}}>{{ band.bandName }}</option>
        </select>

        <span class="expand"></span>

        <div id="search">
            <div class="active-cyan-4">
                <input class="form-control" autocomplete="off" name="search" [(ngModel)]="searchText" type=" text"
                    placeholder="Search" aria-label="Search">
            </div>
        </div>
    </div>
    <p id="sorryy"
        *ngIf="(roles | rolesFilter: searchText : selectedBand : selectedCapability : selectedFamily).length === 0">
        Sorry, no results matched your search</p>
    <div class="card-deck mx-auto">
        <div class="card mb-3" style="min-width: 18rem !important; max-width: 20rem;"
            *ngFor="let role of roles | rolesFilter: searchText : selectedBand : selectedCapability : selectedFamily">
            <img class="card-img-top" src="assets/stock_card.jpeg" alt="softeng">
            <div class="card-body">
                <h4 class="card-title">{{ role.roleName }}</h4>
                <span class="info-background" id="family-bg">
                    <span class="info-label">{{ role.jobFamilyName }}</span>
                </span>
                <span class="info-background" id="capability-bg">
                    <span class="info-label">{{ role.capabilityName }}</span>
                </span>
                <span class="info-background" id="band-bg">
                    <span class="info-label">{{ role.bandName }}</span>
                </span>
            </div>
        </div>
    </div>
</div>