<div class="container">
    <h1>Roles</h1>
    <div class="dropdownContainer">
        <span>Filter by:</span>

        <select id="family-drp" [(ngModel)]="selectedFamily" (change)="onFamilyChange($event.target.value)">
            <option value="" disabled selected>Family</option>
            <option value="">All Families</option>
            <option *ngFor=" let fam of data.family" value={{fam.jobFamilyID}}>{{fam.jobFamilyName}}</option>
        </select>

        <select id="cap-drp" [(ngModel)]="selectedCapability" (change)="onCapabilityChange($event.target.value)">
            <option value="" disabled selected>Capability</option>
            <option value="">All Capabilities</option>
            <option *ngFor="let cap of data.capability | capabilityFilter:selectedFamily" value={{cap.capabilityID}}>
                {{ cap.capabilityName}}
            </option>
        </select>

        <select id="band-drp" [(ngModel)]="selectedBand" (change)="onBandChange($event.target.value)">
            <option value="" disabled selected>Band</option>
            <option value="">All Bands</option>
            <option *ngFor=" let band of data.band" value={{band.bandName}}>{{ band.bandName }}</option>
        </select>

        <span class="expand"></span>

        <div id="search">
            <div class="active-cyan-4">
                <input class="form-control" autocomplete="off" name="search" [(ngModel)]="searchText" type=" text"
                    placeholder="Search" aria-label="Search">
            </div>
        </div>
    </div>
    <div class="card-deck mx-auto">
        <div class="card mb-3" style="min-width: 18rem !important; max-width: 20rem;"
            *ngFor="let role of data.roles | rolesFilter: searchText : selectedBand : selectedCapability : selectedFamily">
            <img class="card-img-top" src="assets/stock_card.jpeg" alt="softeng">
            <div class="card-body">
                <h4 class="card-title">{{ role.roleName }}</h4>
                <span class="info-background" id="capability-bg"><span
                        class="info-label">{{ role.capabilityName }}</span></span>
                <span class="info-background" id="band-bg"><span class="info-label">{{ role.bandName }}</span></span>
            </div>
        </div>
    </div>
</div>